{% extends "layout.html" %}

{% block title %}
    Flat #{{ flat.id }}
{% endblock %}

{% block main %}
<div class="card">
    <h5 class="card-header">Flat #{{ flat.id }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ flat.title }}</h5>
      <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Cost</th>
                <th>Number of rooms</th>
                {% if flat.location %}
                <th>Location</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ flat.price }}€</td>
                <td>{{ flat.rooms }}</td>
                {% if flat.location %}
                <td>{{ flat.location }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% if flat.comments %}
    <p class="card-text">Comments: {{ flat.comments }}</p>
    {% endif %}
      <a href="{{ flat.link }}" class="btn btn-primary">Link to the flat</a>
      {% if flat.added_by == session.user_id %}
      <a href="/edit?id={{ flat.id }}" class="btn btn-outline-primary">Edit</a>
      <a href="/delete?id={{ flat.id }}" class="btn btn-outline-danger">Delete</a>
      {% endif %}
    </div>
    <div class="card-footer text-muted">
       <small>Added by {{ flat.username }} on {{ flat.timestamp }}</small>
      </div>
  </div>
  <br>
  <ul class="list-group">
    <li class="list-group-item-primary">Comments</li>
    {% for comment in comments  %}
    <li class="list-group-item">{{ comment.text }} <br>
        <form action="/comment" method="post" class="float-end">
            <input id="flat_id" name="flat_id" value="{{ flat.id }}" type="hidden">
            <input id="comment_id" name="comment_id" value="{{ comment.id }}" type="hidden">
            <input id="type" name="type" value="DELETE" type="hidden">
        <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
        </form>
         <small class="text-muted">{{ comment.username }} on {{ comment.timestamp }}</small></li>
    {% endfor  %}
    <li class="list-group-item">
        <form action="/comment" method="post">
        <div class="mb-3">
            <input id="flat_id" name="flat_id" value="{{ flat.id }}" type="hidden">
            <input id="type" name="type" value="ADD" type="hidden">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="comment" name="comment" placeholder="Write a comment..." type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Add comment</button>
        </form>
    </li>
  </ul>
{% endblock %}