{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h3>Welcome to Flatseeker!</h3>
{% if friend_requests %}
<p>You have outstanding friend requests</p>
    {% for friend_request in friend_requests %}
        <p>Request from {{friend_request.user2_name}}</p>
        <form action="/addfriend" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="friend" name="friend" value="{{friend_request.user2_name}}" type="hidden">
            </div>
            <button class="btn btn-primary" type="submit">Accept</button>
        </form>
    {% endfor %}
{% endif %}
{% endblock %}